numpy>=1.26.*  # version might be limited by numba and tensorflow
pandas>=2.*  # version might be important for parsing timestamps
numba  # For highlow label generator. numba 0.57.1 requires numpy<1.25,>=1.21,
pyarrow  # If parquet is used. Alternatively fastparquet

apscheduler==3.10.*
click
tqdm

# Downloaders
python-binance>=1.0.*  # pip install python-binance

# Features/label generation
# tsfresh  # if tsfresh feature generator is used. It depends on matrixprofile with binary (in pip) only for Python 3.8
ta-lib  # Python wrapper for TA-lib (native) library

# Algorithms
scikit-learn==1.5.*
lightgbm>=4.*
tensorflow>=2.16.*

# seaborn  # if diagrams are turned on
