numpy==2.1.*  # version limited by tensorflow and numba
pandas==2.*  # version might be important for parsing timestamps
numba  # For highlow label generator
pyarrow  # If parquet is used. Alternatively fastparquet

apscheduler
click
tqdm

# Downloaders
python-binance==1.0.*
#MetaTrader5>=5.0.4874; sys_platform == 'win32'  # If mt5 venue is used
#yfinance
#curl-cffi  # Used in yahoo downloder

# Features/label generation
# tsfresh  # if tsfresh feature generator is used. It depends on matrixprofile with binary (in pip) only for Python 3.8
ta-lib  # Python wrapper for TA-lib (native) library

# Algorithms
scikit-learn==1.6.*
lightgbm==4.*
tensorflow==2.19.*

# seaborn  # if outputs with diagrams are used
